$primary:#1596d2;
$secondary:#333;
$light:#fff;
$bgLight:#f0f4ff;

$colorText:$secondary;
$colorTextLine:$light;

$fontTheme: 'Open Sans',sans-serif;

$fontSize:1rem;

$container:1330px;

$padding:15px;