:root {
	--container: 1000px;
	--font-inter: 'Inter', sans-serif;
	--font-roboto: 'Roboto', sans-serif;
	--font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

	--color-text: #4F4F4F;
	--color-text-light: #828282;
	--color-title-mini: #333333;
	--color-title: #001F4C;
	--color-bg: #F8FBFF;

	--color-blue: #0061C1;
	--color-white: #fff;

	// --color-bg-2: #eceff4;
	// --color-line: #eceff4;
	// --color-link: #bf616a;
	// --color-btn-bg: #242933;
	// --color-btn-txt: #fff;
	// --color-focus: #88c0d0;
}