@import "variables";
@import "components/mixin";

.homeBanner {
	&_item {
		min-height: 71vh;
	}
}

.getTest {
	background: #f0f4ff;
	padding: 50px 0;
	position: relative;
	z-index: 1;
	overflow: hidden;

	&::after {
		content: '';
		z-index: -1;

		@include iconBg(5%, 0%, 300px, 300px, url('../images/bgicon.png'));
	}

	&::before {
		content: '';
		z-index: -1;
		@include iconBg(40%, 60%, 300px, 300px, url('../images/bgicon.png'));
	}

	&_box {
		display: flex;
		gap: 1rem;
	}

	&_left {
		flex: 3;
	}

	&_right {
		flex: 1;
	}
}

.section {
	padding: 50px 0;

	&_label {
		display: flex;
		justify-content: space-between;
		align-items: center;

		a {
			color: $primary;
			text-decoration: underline;
			font-weight: bold;
		}
	}

	&_body {
		margin-top: 20px;
	}
}



.service {
	padding: 0 10px;
	position: relative;

	&:hover {
		img {
			transform: scale(1.2);
		}
	}

	&_image {
		position: relative;

		a {
			display: block;
			overflow: hidden;
			padding-top: 65%;
			position: relative;
		}

		img {
			object-fit: cover;
			position: absolute;
			inset: 0;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			transition: all .5s;
		}
	}

	&_title {
		padding: 20px;
		background: $bgLight;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		color: $primary;
		@media (max-width:480px) {
			padding: $fontSize;
			}

		a {
			color: $primary;
			font-weight: bold;
			text-transform: uppercase;
			font-size: $fontSize;
			width: 100%;
			@media (max-width:480px) {
			font-size: calc($fontSize - 2px);
			}
		}
	}

	&_link {
		display: flex;
		position: absolute;
		justify-content: center;
		align-items: center;
		right: 6%;
		bottom: 10%;
		width: 54px;
		height: 54px;
		overflow: hidden;
		@include bg-gradien(90);
		border-radius: 50px;
		padding: 5px $fontSize;
		transition: all .5s;

		@media (max-width:1020px) {
			bottom: 15%;
			width: 50px;
		height: 50px;
		}
		@media (max-width:480px) {
			display: none;
		}

		svg {
			width: 50px;
			height: 50px;
			fill: $light !important;
			position: absolute;
			transition: all .5s;
			top: 50%;
			right: 2px;
			transform: translateY(-50%);
			@media (max-width:1020px) {
				right: 0;
			}
		}

		span {
			opacity: 0;
			color: $light;
			transition: all .5s;
			margin-right: 30px;
			white-space: nowrap;
			text-transform: uppercase;
			font-family: 'Roboto ';
			font-weight: 400;

		}

		&:hover {
			width: 160px;

			span {
				opacity: 1;
			}

			svg {
				transform: translateY(-50%) rotate(180deg);
			}
		}
	}
}

.postContent {
	padding: 0 10px;

	&:hover {
		img {
			transform: scale(1.2);
		}
	}

	&_image {
		position: relative;

		a {
			display: block;
			overflow: hidden;
			padding-top: 65%;
			position: relative;
		}

		img {
			object-fit: cover;
			position: absolute;
			inset: 0;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			transition: all .5s
		}
	}

	&_date {
		@include bg-gradien(90);
		position: absolute;
		bottom: 0;
		left: 0;
		color: $light;
		padding: 5px 15px 5px 15px;
		font-size: calc($fontSize - 2px);
		display: flex;
		align-items: center;

		svg {
			width: 30px;
			height: 30px;
			fill: $light;
		}
	}

	&_title {
		margin-top: 20px;

		a {
			font-weight: bold;
			line-height: 24px;
			font-size: 16px;
			height: 48px;
			overflow: hidden;
			height: 100%;
			text-transform: uppercase;
			margin-bottom: 10px;
			color: $primary;
			display: block;
			overflow: hidden;
			text-overflow: ellipsis;
		}

	}

	&_dec {
		color: #666666;
		font-weight: 400;
		overflow: hidden;
		display: -webkit-box;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;
		font-size: calc($fontSize - 2px);
		line-height: 1.5;


	}
}

.partner {
	background: $bgLight;
	position: relative;
	overflow: hidden;

	&::after {
		content: '';
		@include iconBg(0%, 30%, 300px, 300px, url('../images/bgicon.png'));
	}

	&_body {
		position: relative;
		z-index: 10;
	}

	&_item {
		display: block;
		padding: 0 10px;
		overflow: hidden;

		position: relative;
		height: 140px;



		.entry-thumbnail {
			position: relative;
			width: 100%;
			height: 100%;
			padding: $fontSize;
			background: $light;
			box-shadow: 0 0 5px 0 rgba(17, 137, 202, 0.1);
			&::after,
			&::before {
				content: '';
				position: absolute;
				display: block;
				transition: all .5s;
			}

			&::after {
				top: 0;
				bottom: 0;
				left: 50%;
				right: 50%;
				border-bottom: 1px solid $primary;
				border-top: 1px solid $primary;
			}

			&::before {
				top: 50%;
				bottom: 50%;
				left: 0;
				right: 0;
				border-right: 1px solid $primary;
				border-left: 1px solid $primary;
			}

			&:hover {
				&::after {
					left: 0%;
					right: 0%;
				}

				&::before {
					top: 0%;
					bottom: 0%;
				}
			}
		}

		img {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			max-width: 50%;
			object-fit: contain;
		}


	}
}
@media (max-width:1024px) {
.homeBanner_item{
	min-height: 50%;
}
.getTest{
	&_box{
		flex-direction: column;
	}
}
}