.page-title{
    text-align: center;
    text-transform: uppercase;
}
.postItem{
    margin: 15px;
    &_title{
        color: black;
        font-weight: bold;
        font-size: 20px;
        margin-top: 15px;
        transition: all 0.5s ease;
        opacity: 0;
        transform: translateY(50px);
        animation: fadeInUp  1s ease-in-out forwards;
        @keyframes fadeInUp {
            from{
                opacity: 0;
                transform: translateY(50px);
            }
            to{
                opacity:1;
                transform: translateY(0);
            }
        }

        &:hover{
            color:#1596d2;
        }
    }
    &_image{
        opacity: 0;
        transform: translateY(50px);
        animation: fadeInUp  1s ease-in-out forwards;
        @keyframes fadeInUp {
            from{
                opacity: 0;
                transform: translateY(50px);
            }
            to{
                opacity:1;
                transform: translateY(0);
            }
        }
        img{
            width: 100%;
        }
    }
    &_des{
        color:black;
        margin: 5px 0px;
        font-weight: 400;
        line-height: 25px;
        font-size: 1rem;
        opacity: 0;
        transform: translateY(50px);
        animation: fadeInUp  1s ease-in-out forwards;
        @keyframes fadeInUp {
            from{
                opacity: 0;
                transform: translateY(50px);
            }
            to{
                opacity:1;
                transform: translateY(0);
            }
        }
    }
    &_date{
        color:gray;
        opacity: 0;
        transform: translateY(50px);
        animation: fadeInUp  1s ease-in-out forwards;
        @keyframes fadeInUp {
            from{
                opacity: 0;
                transform: translateY(50px);
            }
            to{
                opacity:1;
                transform: translateY(0);
            }
        }
    }
}
@media(min-width:768px){
    .search-body{
        margin-bottom: 100px;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
@media(min-width:1024px){
    .search-body{
        margin-bottom: 100px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .postItem{
        &_image{
            overflow: hidden;
            &:hover{
                box-sizing: border-box;
                img{
                    transform: scale(1.1);
                }
            }
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: transform 0.5s ease-out;
            }
        }
    }
}
