//Chiến dịch
.chiendich {
	background: var(--color-bg);
	text-align: center;

	&__wrap {
		padding: 46px 0 50px;

		.title {
			margin-bottom: 6px;
		}

		img {
			margin: 0 auto;
		}
	}

	&__item {
		padding-top: 80px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__left {
		width: 42%;
		height: 200px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		&-number {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		.title {
			margin-bottom: 0;

			span {
				font-size: 16px;
				font-weight: 500;
				color: var(--color-title-mini);
				margin-left: 9px;
			}
		}
	}

	&__right {
		width: 50%;
		text-align: initial;

		h3 {
			font-size: 24px;
			line-height: 1.2;
			color: var(--color-title-mini);
			margin: 0 0 16px;
		}

		ul {
			list-style: none;
			margin: 0;
			padding: 0;
			padding-left: 38px;
		}

		li {
			font-size: 14px;
			margin-bottom: 16px;
			position: relative;
			display: flex;
			align-items: center;

			&::before {
				content: '';
				display: block;
				width: 26px;
				height: 26px;
				position: absolute;
				left: -36px;
				background: url('./images/home-cham.png') no-repeat center center;
			}
		}
	}

	&__content {
		&-title {
			font-size: 16px;
			margin: 65px 0 27px;
			color: var(--color-title);
		}
	}
}

@media all and (max-width: 991px) {
	.chiendich {
		&__left {
			width: 46%;

			&-number {
				margin-top: 15px;
			}

			.title {
				font-size: 24px;
			}
		}

		&__content img {
			height: 350px;
			object-fit: contain;
		}
	}
}

@media all and (max-width: 767px) {
	.chiendich {
		&__item {
			display: block;
			padding-top: 40px;
		}

		&__left {
			width: 100%;
		}

		&__right {
			width: 100%;
			margin-top: 30px;
		}

		&__content-title {
			margin: 20px 0;
		}

		&__content img {
			height: 172px;
		}
	}
}