.footer {
	position: relative;
	margin-top: 15px;
	background: url('./images/bgft.png');
	background-size: cover;
	background-position: center;

	&_info {
		@include bg-gradien(90)
	}

	&_infoBox {
		display: flex;
		padding: 20px 0;
	}

	&_infoItem {
		flex: 1;
		display: flex;
		align-items: center;
	}

	&_infoIcon {
		width: 30px;
		height: 30px;
		margin-right: 15px;

		img {
			filter: invert(1);
		}
	}

	&_infoContent {
		display: block;
		color: $colorTextLine;
		line-height: 22px;
	}

	&_infoTitel {
		margin: 0;
		font-weight: 400;
		font-size: calc($fontSize - 2px);


	}

	&_infoValue {
		margin: 0;
		font-size: $fontSize;
		font-weight: bold;
	}

	&_body {
		position: relative;

		padding: 40px 0;

	}

	&_bodyBox {
		display: flex;
		min-height: 200px;
	}

	&_item {
		flex: 1;
		padding: 0 10px;

	}

	&_itemTitle {
		text-transform: uppercase;
		margin-bottom: 20px;
		font-weight: bold;
		color: $primary;
		font-size: 18px;
		line-height: 27px;
		padding-bottom: 5px;
		border-bottom: 1px solid #e2e3e4;
		position: relative;
		padding-right: 20px;
	}

	&_list {
		list-style: none;
		margin: 0;
		padding: 0;

		li {
			margin-bottom: 5px;
			display: flex;
			align-items: center;

			&::before {
				content: '';
				border: 5px solid $colorText;
				border-left-color: transparent;
				border-top-color: transparent;
				border-radius: 2px;
				transform: rotate(-45deg);

			}

			&:hover {
				a {
					color: $primary;
					margin-left: 15px;
				}

				&::before {
					border-color: $primary;
					border-left-color: transparent;
					border-top-color: transparent;
				}
			}
		}

		a {
			position: relative;
			font-weight: 400;
			margin-left: 10px;
			color: $colorText;
			font-size: calc($fontSize - 2px);
			transition: all .5s;

		}
	}

	&_contact {
		background-color: $light;
		position: relative;
		padding: 30px 0;
		font-weight: 400;
		font-size: calc($fontSize - 2px );
		border-top: 1px solid #f0e3f0;
		border-bottom: 1px solid #f0e3f0;

	}
	&_contactBox{
		display: flex;
	}
	&_contactContent,&_contactMap{
		flex: 1;
	}
	&_contactMap{
		iframe{
			width: 100%;
			height: 200px;
			margin: 0;
		}
	}
}
.copyright{
padding: 20px 0;
    font-weight: 400;
    position: relative;
	font-size: 12px;
    z-index: 1;
	P{
		margin: 0;
	}
}