.header {
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
	background-color: var(--color-white);

	&__inner {
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 15px 0;

		ul {
			list-style: none;
			padding: 0;
			margin: 0;
		}
	}

	&__menu {
		width: 65%;

		ul {
			display: flex;
		}

		ul li {
			margin-right: 36px;
		}

		a {
			color: var(--color-text);
			font-size: 14px;

			&:hover {
				color: var(--color-blue);
			}
		}
	}

	.current-menu-item a {
		color: var(--color-blue);
		font-weight: 600;
	}

	&__signup a {
		font-size: 14px;
		font-weight: 600;
		padding: 12px 32px;
		color: var(--color-white);
		background: var(--color-blue);
		border-radius: 6px;
		transition: all 0.2s ease;
		border: 1px solid var(--color-blue);
	}
}

.menu-mobile {
	display: none;
}

.menu-toggle {
	display: none;
}

@media all and (max-width: 991px) {
	.header {
		&__menu {
			width: 60%;

			ul li {
				margin-right: 20px;
			}
		}
	}
}

@media all and (max-width: 767px) {
	.header {
		&__menu {
			display: none;
		}

		&__inner {
			padding-top: 30px;
		}

		&__signup {
			position: absolute;
			top: 8px;
			right: 0;

			a {
				padding: 7px 13px;
			}
		}
	}

	.menu-toggle {
		display: block;

		svg {
			width: 30px;
			height: 30px;
		}
	}

	.is-open {
		.menu-mobile {
			display: block;
			position: absolute;
			right: 0;
			top: 100%;
			width: 170px;
			background: var(--color-white);
			box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
			z-index: 9;
			padding: 10px 0;

			li {
				padding: 7px 20px;
			}

			li a {
				color: var(--color-white);
				color: var(--color-blue);
			}

			.current_page_item {
				background: var(--color-blue);

				a {
					color: var(--color-white);
				}
			}
		}
	}
}