.header {
	position: relative;
    overflow: hidden;
	transition: all .5s;
	top: 0;
	left: 0;

	&.fixed{
		position: fixed;
		width: 100%;
		z-index: 1000;
		animation: fadeInDown .5s ;
		display: flex;
		flex-direction: column;
		.header_bottom{
			width: 200px;
			right: 0;
			top: 200px;
			margin-left: auto;
		}
		.header_itemTitle{
			display: none;
		}
	}
	svg {
		height: 100%;
		width: 100%;
	}

	&_top {
		background: $light;
	}

	&_bottom {
		width: 100%;
		transition: all .5s;
		@include bg-gradien(90);
	}

	&_body {
		padding: $padding 0;
		display: flex;
		justify-content: space-between;
        transition: all .5s;
	}

	&_logo {
		max-width: 300px;
		display: flex;
		align-items: center;
		img{
			width: 80px;
		}
		@media (max-width:480px) {
			flex-direction: column;
			img{
				width: 50px;
			}
			.header_logoName{
			font-size: $fontSize;
			margin-left: 0;
			}
		}
	}
	&_logoName{
		margin: 0;
		margin-left: $fontSize;
		padding: 0;
		font-size: calc($fontSize + 6px);
		font-weight: bold;
		text-transform: uppercase;
	}

	&_menu {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&_menuBody {
		display: flex;
		list-style: none;
		margin: 0;
		padding: 0;
		transition: all .5s;

	}

	.menu-item a {
		display: block;
		font-size: 16px;
		font-weight: bold;
		line-height: 24px;
		padding: 10px 20px;
		font-weight: bold;
		text-transform: uppercase;
		transition: .5s;
		color: $colorText;

		&:hover {
			color: $primary !important;
		}
	}

	&_search {
		padding: 5px 0;

		button {
			border-left: 1px solid #e6e6e6;
			border-radius: 0;
			width: 45px;
			height: 35px;
			padding: 5px;

			svg {
				fill: #00b81c !important;
			}
		}

		&:hover {
			svg {
				fill: $primary !important;
			}
		}
	}

	&_boxItem {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
	}

	&_item {
		margin: 0;
		padding: 0%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex: 1;
		color: $light;
		font-weight: bold;
		text-transform: uppercase;
	}

	&_itemIcon {
		width: 25px;
		height: 25px;
		margin-right: 10px;

		svg {
			fill: $light;
		}
	}

	&_itemTitle {
		font-size: calc($fontSize - 2px);
	}
	.language{
		width: fit-content;
	}
}
 .btnMenu{
    position:relative ;
    display: none;
    flex-direction: column;
    span,&::after,&::before{
        display: block;
        width: 30px;
        height: 3px;
        content: '';
        margin: 3px 0;
        @include bg-gradien(90)
    }
 }
 .btnClose{
    position: fixed;
    top: 5px ;
    right: 10px;
    z-index: 1000;
    display: none;
    &::after,&::before{
        display: block;
        width: 30px;
        height: 3px;
        content: '';
        margin: 3px 0;
		background: $light;
    }
    &::after{
        transform: rotate(45deg);
    }
    &::before{
        transform: rotate(-45deg);
        top: 6px;
        position: relative;
    }
 }

@media (max-width:1024px) {
	.header {
        .btnMenu{
            display: flex;
        }
        .btnClose.isShow{
            display: block;
        }
		&_menuBody {
			position: fixed;
			width: 100%;
			top: 0;
			left: 0;
			flex-direction: column;
			z-index: 1000;
			background: $light;
            height: 100vh;
            transform: translateY(-100%);

            &.isShow{
                transform: translateY(0);
            }
			&::before {
				content: "Menu";
				display: block;
				width: 100%;
				@include bg-gradien(90);
				font-size: 16px;
				font-weight: bold;
				line-height: 24px;
				padding: 10px 20px;
                color: $light;
			}

		}
        &_itemTitle{
            display: none;
        }
	}

}