.container {
	width: 100%;
	max-width: $container;
	margin: 0 auto;
	padding: 0 $fontSize;
}

.entry-thumbnail {
	width: 100%;
	height: 100%;

	img {
		width: 100%;
		height: 100%;
		object-fit: contain;

	}
}

.slick-dots {
	text-align: center;
	bottom: 30px !important;

	li {
		display: inline-block;
		margin: 0 5px !important;
		width: 10px !important;

		&.slick-active {
			button {
				background: $primary !important;
			}
		}
	}

	button {
		width: 10px !important;
		height: 10px !important;
		border: 2px solid $primary !important;
		background-color: transparent !important;
		border-radius: 100%;
		font-size: 0;
		padding: 0 !important;
	}

}
.slick-arrow{
	position: absolute;
	background: $bgLight;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	top: 50%;
	transform: translateY(-50%);
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 14px;
	box-shadow: 0 0 5px 0 rgba(0,0,0,.3);
	z-index: 11;
	cursor: pointer;
	&:hover{
		background: #f0f4ffca;
	}
}
.nextArrow{
	right: 0;
}
.prevArrow{
	left: 0;
}

.label {
	font-size: calc(2 * $fontSize - 4px);
	line-height: 1;
	position: relative;
	padding-left: 15px;
	text-transform: uppercase;
	border-left: $primary solid 3px;
	margin: 0;
}

.form {
	background: $light;
	position: relative;
	z-index: 1;
	box-shadow: 0 0 10px 0 rgba(18, 138, 202, 0.2);
	margin-bottom: 20px;
	padding: 25px;
	font-weight: 400;
	font-size: 15px;
	margin-top: 1rem;
	display: flex;
	gap: 1rem;

	&>* {
		flex: 1;
	}

	&-group {
		margin-bottom: 1rem;
	}

	label {
		display: inline-block;
		max-width: 100%;
		margin-bottom: $fontSize;
		font-weight: 700;
	}


}

input {
	background-color: #f0f4ff !important;
	padding: 10px;
	color: #333333;
	border-radius: 0;
}

.btn {
	@include bg-gradien(90);
	color: #fff !important;
	position: relative;
	z-index: 1;
	border-radius: 0;
	font-weight: bold;
	text-transform: uppercase;
	width: 100%;
	padding: 10px 6px;

	&::before {
		position: absolute;
		width: 0%;
		height: 100%;
		background: $primary;
		content: '';
		top: 0;
		left: 0;
		z-index: -1;
		transition: all .5s;

	}

	&:hover {
		color: #fff;
		opacity: 1;

		&::before {
			width: 100%;
		}
	}
}

.form_setTest {
	@include bg-gradien(90);
	position: relative;
	padding: 40px 20px 20px 20px;
	font-weight: 400;
	position: relative;
	z-index: 1;
	margin-top: 1rem;
	overflow: hidden;

	&::before {
		content: '';
		z-index: -1;
		opacity: .3;
		@include iconBg(0%, 20%, 200px, 200px ,url('./images/bgicon.png'));
	}

	.form_text {
		margin: 0;
		font-size: 20px;
		line-height: 30px;
		margin-bottom: 10px !important;
		padding: 0;
		color: $light;

		p {
			margin: 0;
		}
	}

	.fluentform .ff-el-form-control {
		background-color: #f0f4ff !important;
		color: #333333;
		border-radius: 0;
	}

	.fluentform .ff-btn-submit {
		width: 100%;
		height: 40px;
		text-align: center;
		background-color: transparent;
		border: 1px solid #fff;
		text-transform: uppercase;
		font-weight: bold;
		-webkit-transition: all 0.3s linear;
		-o-transition: all 0.3s linear;
		transition: all 0.3s linear;
		font-size: 15px;
		display: block;
		&:hover{
			background: $light;
			color: $primary;
		}
	}
}

 .modal{
	position: fixed;
	height:100vh;
	width: 100vw;
	top: 0;
	left: 0;
	z-index: 100;
	display: none;
	&_body{
		background-color: #00000064;
		display: flex;
		height: 100%;
		width: 100%;
		justify-content: center;
		align-items: center;
		overflow: auto;

	}
	&_content{

		max-width: 600px;
		display: none;
		animation: fadeIn 1s linear;
		position: relative;
		&:nth-child(3){
			max-width: 1000px;
		}
	}
 }
 @keyframes fadeIn{

	from {
		transform: translateY(-50%);
		opacity: 0;
	}
	to {
		// transform: translateY(0);
		opacity: 1;
	}
 }
@keyframes rotate {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}


.contact{
	background:$light;
	padding: $fontSize;
	width: 100%;
	&_info{
		display: flex;
		background: $bgLight;
		padding: $fontSize;
	}
	&_infoName{
		width: 30%;
	}
	&_content{
		flex: 1;
		display: flex;
		flex-direction: column;
	}
	&_itemIcon{
		width: 30px;
		height: 30px;
		margin: 0 $fontSize;
	}
	&_item{
		display: flex;
		align-items: center;
		font-size: calc($fontSize - 2px);
		font-weight: bold;
	}
	&_itemBox{
		display: flex;
		width: 25%;
		align-items: center;
	}
	&_value{
		flex: 1;
	}

	.btn{
		width: auto;
		padding: 10px 20px;
		margin-left: auto;
		margin-top: $fontSize;
	}
	&_infoName{
		padding: 10px 40px 10px 0;
		position: relative;
		z-index: 2;
		font-size: calc($fontSize + 4px);
		line-height: 1.3;
		color: #1189ca;
		font-weight: bold;
	}
	&_form{
		display: flex;
		flex-direction: column;
		background: $bgLight;
		padding: $fontSize;
		margin-top: $fontSize;
	}
	&_title{
		font-size: calc($fontSize + 2px);
		line-height: 1.3;
		color: $primary;
		text-transform: uppercase;
		margin-bottom: 20px;
		font-weight: bold;

	}
	.fluentform .ff-el-form-control {
		background-color: $light !important;
		color: #333333;
		border-radius: 0;
	}
	.fluentform .ff-el-input--label{
		font-size: calc($fontSize - 2px) !important;
	}
	.ff-btn{
		width: 100px;
		font-weight: bold !important;
	}

}